.action-btn:hover{
background: #fe8402 !important;
}
.nav-item a:hover{
color:#fe8402 !important;
}
/* .landing{
    height: 100vh;
} */
/* .answer{
    height: 115vh;
} */
.user-icon svg{
    width: 80px;
    height: 80px;
}